@use '../abstracts' as *;

.icon {
    display: block;
}

.icon-arrowup {
    @include mask-icon(url("#{$base-url}/images/icon-arrowup.svg"));
}

.icon-arrowdown {
    @include mask-icon(url("#{$base-url}/images/icon-arrowdown.svg"));
}

.icon-arrowright {
    @include mask-icon(url("#{$base-url}/images/icon-arrowright.svg"));   
}

.icon-arrowleft {
    @include mask-icon(url("#{$base-url}/images/icon-arrowleft.svg"));
}

.icon-arrowlink {
    @include mask-icon(url("#{$base-url}/images/icon-arrowlink.svg"));
}

.icon-chevronup {
    @include mask-icon(url("#{$base-url}/images/icon-chevronup.svg"));
}

.icon-chevrondown {
    @include mask-icon(url("#{$base-url}/images/icon-chevrondown.svg"));
}

.icon-chevronright {
    @include mask-icon(url("#{$base-url}/images/icon-chevronright.svg"));
}

.icon-chevronleft {
    @include mask-icon(url("#{$base-url}/images/icon-chevronleft.svg"));
}

.icon-close {
    @include mask-icon(url("#{$base-url}/images/icon-close.svg"));
}

.icon-burger {
    @include mask-icon(url("#{$base-url}/images/icon-burger.svg"));
}

.icon-check {
    @include mask-icon(url("#{$base-url}/images/icon-check.svg"));
}

.icon-binomio {
    @include mask-icon(url("#{$base-url}/images/icon-binomio.svg"));
}

.icon-instagram {
    @include mask-icon(url("#{$base-url}/images/icon-instagram.svg"));
}

