@use '../../abstracts' as *;

.section-collection_grid {
    .container {
        .items-grid {
            display: flex;
            gap: 20px;
            padding: 40px 0px;
            align-items: stretch;
            flex-wrap: wrap;

            .item {
                display: block;
                height: auto;

                &--onecol {
                    flex: 0 1 calc(25% - 15px);
                    aspect-ratio: 258 / 376;

                }

                &--twocol {
                    flex: 0 1 calc(50% - 10px);
                    aspect-ratio: 590 / 376;
                }
            }
        }
    }
}

@media screen and (max-width: $tablet) {
    .section-collection_grid {
        .container {
            .items-grid {
                .item {
                    &--onecol {
                        flex: 0 1 calc(50% - 10px);
                    }

                    &--twocol {
                        flex: 0 1 100%;
                    }
                }
            }
        }
    }
}