@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus,
    &:focus-within {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus,
    &:focus-within {
      @content;
    }
  }
}

@mixin mask-icon($url: null, $bgColor: null) {
  @if ($url) {
    -webkit-mask-image: $url;
    mask-image: $url;
  }
  @if ($bgColor) {
    background-color: $bgColor;
  }

  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}