/// Colors
/// @type color
$charcoal: #1E1E1E;
$midgrey: #CED0CE;
$grey: #E7E7E7;
$emphasis: #6D6D6D;
$emphasis3: #303030;
$white: #FFFFFF;
$red: #D9003C;

/// Container
$container-width: 1440px;

/// Transiciones
$transition: .3s linear;

/// Fonts
/// @type String
$jetbrains: 'JetBrains Mono', monospace;
$druk: 'Druk Wide', sans-serif;
$base-font-size: 16px;

/// Breakpoints
/// @type Number
$mobile: 744px;
$tablet: 1024px;

/// Navigation
/// @type Number
$navbarHeight: 60px;
$navbarHeight--mobile: 60px;

/// Relative or absolute URL where all assets are served from
/// @type String
$base-url: '/wp-content/themes/binomio/assets' !default;

/// Theme colors
:root {
    --textPrimary: #{$midgrey};
    --textSecondary: #{$emphasis};
    --textCTA: #{$white};
    --textLink: #{$emphasis};
    --background: #{$charcoal};
    --decoration: #{$emphasis};
    --highlight: #{$red};
    --inverted: #{$white};

    .theme--artist {
        --background: #{$charcoal};
        --textPrimary: #{$midgrey};
        --textSecondary: #{$emphasis};
        --textCTA: #{$white};
        --textLink: #{$emphasis};
        --decoration: #{$emphasis};
        --highlight: #{$red};
        --inverted: #{$white};
    }

    .theme--studio {
        --background: #{$midgrey};
        --textPrimary: #{$charcoal};
        --textSecondary: #{$charcoal};
        --textCTA: #{$charcoal};
        --textLink: #{$emphasis3};
        --decoration: #{$emphasis};
        --highlight: #{$red};
        --inverted: #{$charcoal};
    }
}

$textPrimary: var(--textPrimary);
$textSecondary: var(--textSecondary);
$textCTA: var(--textCTA);
$textLink: var(--textLink);
$background: var(--background);
$decoration: var(--decoration);
$highlight: var(--highlight);
$inverted: var(--inverted);