@charset "UTF-8";

// 1. Base stuff
@use 'base/base';
@use 'base/fonts';
@use 'base/typography';
@use 'base/icons';

// 2. Layout-related sections
@use 'layout/footer';
@use 'layout/header';
@use 'layout/grid';

// 3. Components
@use 'components/button';
@use 'components/link';
@use 'components/tab';
