@use '../abstracts' as *;

body.error404 {
    #wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100dvh;
    }

    #container {
        flex: 1 0 auto;
    }

    #footer {
        flex-shrink: 0;
    }

    #header {
        mix-blend-mode: normal;

        .header-logo .icon {
            background-color: $inverted;
        }

        .header-links .menu .link {
            color: $inverted;
        }

        .header-burger {
            background-color: $inverted;
        }
    }
}

.page-404 {
    padding-top: calc($navbarHeight + 40px);

    .button {
        margin-top: 24px;
    }
}

