@use '../abstracts' as *;

#footer,
.hero-footer {
    position: relative;
    z-index: 10;

    .footer-main {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        mix-blend-mode: difference;

        .footer-socials {
            .social-link {
                display: flex;
                align-items: center;
                gap: 8px;

                .social-text {
                    font-size: 10px;
                    font-family: $jetbrains;
                    font-weight: 400;
                    color: $textPrimary;
                }

                .icon {
                    width: 20px;
                    height: 20px;
                    background-color: $textPrimary;
                }

                &:hover {
                    .social-text {
                        text-decoration: underline;
                    }
                }
            }
        }

        .footer-info {
            font-size: 10px;
            font-family: $jetbrains;
            font-weight: 400;
            color: $textPrimary;
        }
    }

    .footer-navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        background-color: #000000;

        .navigation-left,
        .navigation-right {
            display: flex;
            align-self: center;
            gap: 24px;
        }
    }
}

@media screen and (max-width: $mobile) {
    #footer,
    .hero-footer {
        .footer-main {
            flex-direction: column;
            gap: 40px;
        }

        .footer-navigation {
            flex-direction: column;
            gap: 20px;

            .navigation-left,
            .navigation-right {
                justify-content: center;
            }
        }
    }
}