@use '../abstracts' as *;

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    backdrop-filter: blur(15px);
    z-index: 10;

    .header-logo {
        display: block;

        .logo {
            display: block;
            height: 20px;
            width: auto;
        }
    }

    .header-links {
        display: flex;
        align-items: center;
        gap: 24px;

        .link {
            color: $textCTA;
        }
    }

    .header-burger {
        display: none;
        width: 24px;
        height: 24px;
        cursor: pointer;
        background-color: $inverted;
    }
}

@media screen and (max-width: $mobile) {
    #header {
        .header-links {
            display: none;
        }

        .header-burger {
            display: block;
        }
    }
}