@use '../abstracts' as *;

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    .header-logo {
        display: block;

        .logo {
            display: block;
            height: 20px;
            width: auto;
        }
    }

    .header-links {
        display: flex;
        align-items: center;
        gap: 24px;
        
        .link {
            color: $textCTA;
        }
    }
}