@use '../abstracts' as *;

.archive-projects {
    $sectionSpacing: 80px;
    padding-top: calc($navbarHeight + 40px);
    min-height: calc(100dvh - $footerHeight);

    .section-hero {
        margin-bottom: $sectionSpacing;
    }
}

.page-project {
    $sectionSpacing: 80px;
    padding-top: calc($navbarHeight + 40px);
    min-height: calc(100dvh - $footerHeight--mobile);

    .section-hero {
        margin-bottom: $sectionSpacing;
    }

    .section-frontimage {
        margin-bottom: $sectionSpacing;
    }

    .section-fullgallery {
        margin-bottom: $sectionSpacing;
    }

    .section-marquee,
    .section-marquee-spaced {
        margin-bottom: $sectionSpacing;
    }

    .section-title-text {
        padding: $sectionSpacing 0px;
    }

    .section-credits {
        padding: $sectionSpacing 0px;
    }

    .section-showcase {
        padding: $sectionSpacing 0px;
    }

    .section-related {
        padding: $sectionSpacing 0px;
        border-top: 1px solid $line;
    }
}

@media screen and (max-width: $mobile) {
    .archive-projects {
        $sectionSpacing: 40px;

        .section-hero {
            margin-bottom: $sectionSpacing;
        }
    }

    .page-project {
        $sectionSpacing: 40px;

        .section-hero {
            margin-bottom: $sectionSpacing;
        }

        .section-frontimage {
            margin-bottom: $sectionSpacing;
        }

        .section-fullgallery {
            margin-bottom: $sectionSpacing;
        }

        .section-marquee,
        .section-marquee-spaced {
            margin-bottom: $sectionSpacing;
        }

        .section-title-text {
            padding: $sectionSpacing 0px;
        }

        .section-credits {
            padding: $sectionSpacing 0px;
        }

        .section-showcase {
            padding: $sectionSpacing 0px;
        }

        .section-related {
            padding: $sectionSpacing 0px;
        }
    }
}