@use '../abstracts' as *;

.archive-projects {
    $sectionSpacing: 80px;
    padding-top: calc($navbarHeight + 40px);
    min-height: calc(100dvh - $footerHeight);

    .section-hero {
        margin-bottom: $sectionSpacing;
    }
}

.page-project {
    $sectionSpacing: 80px;
    padding-top: calc($navbarHeight + 40px);
    min-height: calc(100dvh - $footerHeight--mobile);

    .section-hero {
        margin-bottom: $sectionSpacing;
    }

    .section-frontimage {
        margin-bottom: $sectionSpacing;

        .frontimage-grid {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .frontimage {
            display: block;
            width: 100%;
            height: auto;
        }

        &--single {
            .container {
                max-width: 800px;
                margin: 0 auto;
            }
        }

        &--double {
            .frontimage-grid {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px;
            }
        }
    }

    .section-fullgallery {
        margin-bottom: $sectionSpacing;

        .gallery-grid {
            display: flex;
            flex-direction: column;
            gap: calc($sectionSpacing - 20px);

            .gallery-item {
                width: 100%;
                height: auto;
                display: block;
            }
        }
    }

    .section-gallery {
        .container {
            .gallery-grid {
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
                align-items: stretch;
                justify-content: center;

                .gallery-item {
                    display: block;
                    height: auto;
                    margin-bottom: calc($sectionSpacing - 20px);

                    .image-item {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    &--video,
                    &--gif {
                        flex: 0 1 100%;
                        max-width: 800px;
                        margin: 0 auto;
                        margin-bottom: calc($sectionSpacing - 20px);
                    }

                    &--image {
                        flex: 0 1 calc(50% - 10px);
                        aspect-ratio: 590 / 790;
                    }
                }
            }
        }
    }

    .section-credits {
        padding: $sectionSpacing 0px;

        .container {
            .tag-container {
                justify-content: center;
            }

            .credits-title,
            .credits-content {
                color: $textPrimary;
                text-align: center;
            }

            .credits-title {
                margin: 40px auto;
            }
        }
    }

    .section-related {
        padding: $sectionSpacing 0px;
        border-top: 1px solid $line;
    }
}

@media screen and (max-width: $mobile) {
    .archive-projects {
        $sectionSpacing: 40px;

        .section-hero {
            margin-bottom: $sectionSpacing;
        }
    }

    .page-project {
        $sectionSpacing: 40px;

        .section-hero {
            margin-bottom: $sectionSpacing;
        }

        .section-frontimage {
            margin-bottom: $sectionSpacing;

            &--double {
                .frontimage-grid {
                    display: grid;
                    grid-template-columns: 1fr;
                }
            }
        }

        .section-fullgallery {
            margin-bottom: $sectionSpacing;

            .gallery-grid {
                gap: calc($sectionSpacing - 20px);
            }
        }

        .section-gallery {
            .container {
                .gallery-grid {
                    .gallery-item {
                        margin-bottom: calc($sectionSpacing - 20px);


                        &--image {
                            flex: 0 1 100%;
                            aspect-ratio: 590 / 790;
                        }
                    }
                }
            }
        }

        .section-credits {
            padding: $sectionSpacing 0px;
        }

        .section-related {
            padding: $sectionSpacing 0px;
        }
    }
}