@use '../../abstracts' as *;

.collection-card {
    position: relative;
    padding: 10px;
    z-index: 2;

    >a {
        pointer-events: none;
    }

    .card-image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        transition: filter .1s ease-in-out;
    }

    .card-info {
        position: absolute;
        width: 90%;
        max-width: 168px;
        top: 50%;
        left: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        transform: translate(-50%, -50%);
        color: $white;
        opacity: 0;
        pointer-events: none;
        transition: opacity .1s ease-in-out;

        .item-title {
            text-align: center;
            font-family: $druk;
            font-size: 16px;
            font-weight: 500;
            line-height: 105%;
            text-transform: uppercase;
            color: $white;
        }

        .item-subtitle,
        .item-description {
            text-align: center;
            font-family: $jetbrains;
            font-size: 10px;
            font-weight: 400;
            line-height: 125%;
            color: $white;
        }

        .item-subtitle {
            text-transform: uppercase;
        }

        .item-button {
            display: block;
            margin: 0px auto;
        }
    }

    &:hover,
    &.showing {
        .card-image {
            filter: brightness(0);
        }

        .card-info {
            opacity: 1;
            pointer-events: all;
        }
    }
}

// Hero specific styles
.bnomio-hero {
    .collection-card {
        aspect-ratio: 258 / 376;
        height: 100%;
        width: auto;
        height: 60dvh;
        max-height: 60dvh;
    }
}

@media screen and (max-width: $tablet) {
    .collection-card {
        cursor: pointer;

        &.collection-card--displayed {
            .card-info {
                position: relative;
                top: auto;
                left: auto;
                display: flex;
                width: 100%;
                margin: 0 auto;
                margin-top: 20px;
                opacity: 1;
                pointer-events: all;
                transform: translate(0, 0);

                .item-title,
                .item-description {
                    color: $textPrimary;
                }

                .item-subtitle {
                    color: $textSecondary;
                }
            }
        }

        >a {
            pointer-events: auto;
        }

        .card-info {
            display: none;
        }

        &:hover,
        &.showing {
            .card-image {
                filter: none;
            }
        }
    }

    // Hero specific styles
    .bnomio-hero {
        .collection-card {
            aspect-ratio: unset;
            max-height: unset;
            height: 100%;
            width: 100%;

            .card-image {
                height: auto;
                width: 100%;
                max-width: 400px;
                margin: 0 auto;
            }
        }
    }
}