@use '../../abstracts' as *;

.collection-card {
    position: relative;
    padding: 10px;
    z-index: 2;

    >a {
        pointer-events: none;
    }

    .card-image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        transition: filter .1s ease-in-out;
    }

    .card-info {
        position: absolute;
        width: 90%;
        max-width: 168px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $background;
        opacity: 0;
        pointer-events: none;
        transition: opacity .1s ease-in-out;

        .item-title {
            text-align: center;
            font-family: $druk;
            font-size: 16px;
            font-weight: 500;
            line-height: 105%;
            text-transform: uppercase;
            color: $inverted;
        }

        .item-description {
            text-align: center;
            font-family: $jetbrains;
            font-size: 10px;
            font-weight: 400;
            line-height: 125%;
            text-transform: uppercase;
            margin: 16px 0px;
            color: $inverted;
        }

        .item-button {
            display: block;
            margin: 0px auto;
        }
    }

    &:hover,
    &.showing {
        .card-image {
            filter: brightness(0);
        }

        .card-info {
            opacity: 1;
            pointer-events: all;
        }
    }
}

@media screen and (max-width: $tablet) {
    .collection-card {
        cursor: pointer;

        >a {
            pointer-events: auto;
        }

        .card-info {
            display: none;
        }

        &:hover,
        &.showing {
            .card-image {
                filter: none;
            }
        }
    }
}