@use '../../abstracts' as *;
@use '../../base/typography' as *;

.link {
    appearance: none;
    background: none;
    text-decoration: none;
    border: none;

    display: inline-block;
    @extend .text-button;
    color: $textLink;
    border-bottom: 1px solid transparent;
    padding-bottom: 2px;
    cursor: pointer;
    transition: all $transition;

    &--active {
        color: $inverted;
    }

    &:hover {
        color: $inverted;
        border-color: $inverted;
    }
}

.link-info {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    gap: 20px;
    padding-bottom: 8px;

    &:before {
        content: '';
        position: absolute;
        bottom: 4px;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
        height: 1px;
        opacity: 0;
        background-color: $inverted;
        z-index: -1;
        transition: all $transition;
    }

    .info-item {
        @extend .text-button;
        color: $textLink;
        text-align: left;
        transition: all $transition;

        &--first {
            width: calc(25% - (20px / 3));
        }

        &--second {
            width: calc(65% - (20px / 3));
        }

        &--third {
            width: calc(10% - (20px / 3));
        }
    }

    &--active {
        color: $inverted;
    }

    &:hover {
        .info-item {
            color: $inverted;
        }

        &:before {
            opacity: 1;
        }
    }
}