@use '../../abstracts' as *;
@use '../../base/typography' as *;

.tab {
    @extend .text-button;
    display: inline-block;
    padding: 10px 0px;
    color: $textLink;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    transition: all $transition;

    &.selected {
        color: $textCTA;
        border-color: $textCTA;
    }

    &:hover {
        color: $textCTA;
    }
}

.tabs {
    position: relative;
    display: flex;
    align-items: center;
    gap: 24px;

    &:before {
        content: '';
        position: absolute;
        bottom: -0.5px;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
        height: 0.5px;
        background-color: $decoration;
        z-index: -1;
    }
}

.content-panel,
.panel {
    display: block;

    &.hidden-panel {
        display: none;
    }
}