@use '../../abstracts' as *;
@use '../../base/typography' as *;

.tag {
    appearance: none;
    background: none;
    text-decoration: none;
    border: none;

    display: block;
    @extend .body-large;
    color: $textPrimary;
    border: 1px solid $decoration;
    padding: 10px 12px;
    text-transform: uppercase;
}

.tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}